<!DOCTYPE html>
<html>
<head>
  <title>Sales Data</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
    .zero-rating {
      background-color: yellow; 
    }
  </style>
</head>
<body>
  <h1>Sales Data</h1>
  <table>
    <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Branch</th>
        <th>City</th>
        <th>Customer Type</th>
        <th>Product Line</th>
        <th>Name</th>
        <th>Image</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Tax 5%</th>
        <th>Total</th>
        <th>Date</th>
        <th>Time</th>
        <th>Payment</th>
        <th>COGS</th>
        <th>Gross Income</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {{#each sales}}
        {{#if (ratingHelper Rating)}}
          <tr>
            <td>{{this.[Invoice ID]}}</td>
            <td>{{this.Branch}}</td>
            <td>{{this.City}}</td>
            <td>{{this.[Customer type]}}</td>
            <td>{{this.[Product line]}}</td>
            <td>{{this.name}}</td>
            <td><img src="{{this.image}}" alt="Product Image" width="100"></td>
            <td>{{this.[Unit price]}}</td>
            <td>{{this.Quantity}}</td>
            <td>{{this.[Tax 5%]}}</td>
            <td>{{this.Total}}</td>
            <td>{{this.Date}}</td>
            <td>{{this.Time}}</td>
            <td>{{this.Payment}}</td>
            <td>{{this.cogs}}</td>
            <td>{{this.[gross income]}}</td>
            <td>{{this.Rating}}</td>
          </tr>
        {{else}}
          <tr class="zero-rating">
            <td>{{this.[Invoice ID]}}</td>
            <td>{{this.Branch}}</td>
            <td>{{this.City}}</td>
            <td>{{this.[Customer type]}}</td>
            <td>{{this.[Product line]}}</td>
            <td>{{this.name}}</td>
            <td><img src="{{this.image}}" alt="Product Image" width="100"></td>
            <td>{{this.[Unit price]}}</td>
            <td>{{this.Quantity}}</td>
            <td>{{this.[Tax 5%]}}</td>
            <td>{{this.Total}}</td>
            <td>{{this.Date}}</td>
            <td>{{this.Time}}</td>
            <td>{{this.Payment}}</td>
            <td>{{this.cogs}}</td>
            <td>{{this.[gross income]}}</td>
            <td>zero</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</body>
</html>
